:host {
  background-color: white;
  font-size: 1.1em;
  padding: 20px;
}

.icon {
  margin-right: 10px;
}
.other-link {
  margin-top: 1em;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
