<!-- <div>{{question.controlName}} - {{showQuestion}} - {{initComplete}}</div> -->
<div *ngIf="showQuestion && initComplete" [@fadein]="'in'">
  <!-- repeat group questions -->
  <div *ngIf="question.type=='repeat'">
    <survey-repeat-group [question]="question"></survey-repeat-group>
  </div>

  <!-- non-repeat group questions -->
  <div *ngIf="question.type!='repeat'" [formGroup]="formGroup">
    <!-- general section for all questions -->
    <ion-card [class]="'container '+inline ? 'inline' :null">
      <div style="flex:1">
        <div
          *ngIf="question.type!='label' && showLabel!=false"
          class="question-label"
        >
          <div
            class="question-number dark"
            [attr.controlName]="question.controlName"
          >
            {{question.controlName}}
          </div>
          <div
            class="question-label-text"
            id="questionLabelText"
            #questionLabelText
            *ngIf="question.label"
            [innerHtml]="question.label"
          ></div>
          <help-icon
            [relevant]="question.controlName"
            *ngIf="!reviewMode"
          ></help-icon>
        </div>

        <!-- individual question types -->
        <!-- simple changes can be bound direct to formControlName -->
        <div [ngSwitch]="question.type">
          <!-- select -->
          <div *ngSwitchCase="'select'">
            <ion-item *ngIf="!showSelectOther">
              <ion-select
                (ionChange)="selectUpdated($event)"
                interface="action-sheet"
                [formControlName]="question.controlName"
              >
                <ion-select-option
                  *ngIf="selectOtherValue"
                  [value]="selectOtherValue"
                  >{{selectOtherValue}}</ion-select-option
                >
                <ion-select-option
                  *ngFor="let option of selectOptionsArray"
                  [value]="option"
                  >{{option}}</ion-select-option
                >
              </ion-select>
            </ion-item>
            <!-- select with type other -->
            <ion-item *ngIf="showSelectOther">
              <ion-input
                id="selectOther"
                #selectOther
                clearOnEdit="true"
                type="text"
                [value]="selectOtherValue"
                (focusout)="valueUpdated(null,$event)"
                placeholder="please specify"
              ></ion-input>
            </ion-item>
          </div>

          <!-- text area input -->
          <div *ngSwitchCase="'text'">
            <ion-item>
              <textarea
                id="textAreaInput"
                #textAreaInput
                [(ngModel)]="value"
                [ngModelOptions]="{standalone: true}"
                (focusout)="valueUpdated()"
                (keyup)="resize()"
              ></textarea>
            </ion-item>
          </div>

          <!-- number input -->
          <div *ngSwitchCase="'number'">
            <div style="display: flex; margin-bottom:10px">
              <!-- optional prefix -->
              <div
                *ngIf="question.options && question.options.prefix"
                class="prefix"
              >
                {{question.options.prefix}}
              </div>
              <ion-item>
                <ion-input
                  type="number"
                  [max]="question.options && question.options.max ? question.options.max : null"
                  [min]="question.options && question.options.min ? question.options.min : null"
                  [formControlName]="question.controlName"
                ></ion-input>
              </ion-item>
            </div>
          </div>

          <!-- range slider input -->
          <div *ngSwitchCase="'range'">
            <div style="display: flex">
              <ion-item style="flex:1">
                <!-- should work with formcontrolname however recently chrome has a bug and isn't working. should retry in future -->
                <ion-range
                  min="5"
                  max="95"
                  step="5"
                  color="primary"
                  debounce="500"
                  snaps="true"
                  pin="true"
                  (ionChange)="updateRange($event)"
                  [value]="value"
                  style="flex:1"
                >
                  <ion-label slot="start">5%</ion-label>
                  <ion-label slot="end">95%</ion-label>
                </ion-range>
              </ion-item>
              <ion-input
                class="range-input"
                [formControlName]="question.controlName"
                style="flex:0"
              ></ion-input>
            </div>
            <!-- <div style="margin-left:16px">note, dragging is currently disabled due to a bug in google chrome. please use the input box instead</div> -->
          </div>

          <question-text-multiple
            *ngSwitchCase="'textMultiple'"
            [question]="question"
          ></question-text-multiple>

          <!-- label -->
          <div
            *ngSwitchCase="'label'"
            class="question-label"
            style="margin:10px 0"
          >
            <span id="labelLabelText" #labelLabelText>{{question.label}}</span>
          </div>

          <!-- custom types -->
          <question-custom-reporting-levels
            *ngSwitchCase="'custom-reporting-levels'"
            [question]="question"
          ></question-custom-reporting-levels>
          <question-custom-strata-select
            *ngSwitchCase="'custom-strata-select'"
            [formGroup]="formGroup"
            [preloadValue]="value"
            (onValueChange)="valueUpdated($event)"
          ></question-custom-strata-select>
          <question-custom-stages-define
            *ngSwitchCase="'custom-stages-define'"
            (onValueChange)="valueUpdated($event)"
          ></question-custom-stages-define>
          <!-- <question-base [question]="question" (onUpdate)="valueUpdated($event)"></question-base> -->
        </div>
      </div>
    </ion-card>
  </div>
</div>
