<ion-header>
  <ion-toolbar>
    <ion-title>Building a Sampling Frame</ion-title>
    <ion-buttons slot="primary">
      <button ion-buttonicon-left (click)="dismiss()" color="primary">
        <ion-icon name="checkmark"></ion-icon>Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    You said you need a stage where you sample
    <strong>{{stageName}}</strong>
    <span *ngIf="parentStageName">
      within the <strong>{{parentStageName}}</strong> sampled in the previous
      stage</span
    >.
  </p>
  <p>
    This section will help you to make decisions about how to select the
    sampling units
  </p>
  <survey-question
    controlName="q5.3.1"
    [formGroup]="stageFormGroup"
  ></survey-question>
  <note type="warning" *ngIf="stageFormGroup.value['q5.3.1']=='No'">
    <strong>Building a list</strong>
    <p>
      When there is no list available you will need to decide upon an
      appropriate strategy to build a list of units for this stage within the
      selected units in the previous stage.
      <br />
      You can find guidance on building a sampling frame
      <a
        href="https://firebasestorage.googleapis.com/v0/b/unhcr-sampling-assistant.appspot.com/o/Resources%2FManual_for_Mapping_and_Household_Listing_20180410.docx?alt=media&token=2d7709c6-bd35-4a2e-8275-2b7de70c9cb7"
        target="_blank"
        rel="nofollow"
      >
        here</a
      >
      .
    </p>
  </note>
  <survey-question
    controlName="q5.3.1.1"
    [formGroup]="stageFormGroup"
  ></survey-question>
  <note type="info" *ngIf="stageFormGroup.value['q5.3.1']"
    >This list will be the sampling frame for this stage. Make sure you keep a
    copy of the full list to help in the process of deriving weights if
    needed.</note
  >
  <survey-question
    controlName="q5.3.2"
    [formGroup]="stageFormGroup"
  ></survey-question>
  <div style="height: 1em"></div>
  <note type="warning" *ngIf="stageFormGroup.value['q5.3.2']=='No'">
    <strong>Possibly outdated lists</strong>
    <p>
      If the sampling unit listing is not up to date, you should first consider
      if there might be ways to update it. If this is not possible, think of how
      the incomplete list may affect the representativeness of the sample and
      the biases it may introduce.
    </p>
    <p>Use the space below if you would like to record any specific notes</p>
    <survey-question
      controlName="q5.3.2.1"
      [formGroup]="stageFormGroup"
      [showLabel]="false"
      [inline]="true"
    ></survey-question>
  </note>

  <survey-question
    controlName="q5.3.3"
    [formGroup]="stageFormGroup"
  ></survey-question>

  <survey-question
    controlName="q5.3.4.3"
    [formGroup]="stageFormGroup"
  ></survey-question>

  <div *ngIf="stageFormGroup.value['q5.3.3']=='All'">
    <note type="tip">
      <p>
        If you are selecting all the units at this stage, it is likely that the
        sampling units in the previous stage can be considered as clusters for
        the purpose of analysis.
      </p>
      <p>
        The Sampling Decision Assistant will include this in the summary of your
        sampling scheme.
      </p>
    </note>
  </div>

  <!-- Reporting domains select (question-custom-strata-select)  -->
  <div *ngIf="reportingLevels">
    <div
      *ngIf="stageFormGroup.value['q5.3.3']!='' || stageFormGroup.value['q5.3.1']=='No'"
    >
      <survey-question
        controlName="q5.3.4.2"
        [formGroup]="stageFormGroup"
        [showLabel]="false"
      ></survey-question>
    </div>
  </div>
</ion-content>

<!-- <note type="dev" *ngIf="stageFormGroup.value['q5.3.3']=='Sample'"><strong>Stratification</strong> - Some explanation will be written about what it is with pointers to resources and the reasons why stratification
    is used (reporting and efficiency) create some space for the explanation. Remember that when using stratification the
    process of sampling is repeated independently within each stratum</note> -->
