<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>What's New?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- try to cover main areas (although best not to overwhelm each update)
    functional (observable features, bugs etc.)
    operational (optimisation, scalability - further user experience)
    developmental (code quality, portability, maintainability, refactoring etc.)
  -->
  <p>
    In this document find recorded the main changes that have been implemented.
  </p>
  <!-- 1.0.0 (remember to include dev docs at some point) -->
  <div>
    <h2>1.1.0 (21st September 2018)</h2>
    <div>
      <h3><strong>Content Updates</strong></h3>
      <ul>
        <li>Stage 5 weights</li>
      </ul>
    </div>
    <p>
      <strong>Design Improvements</strong>
      <br />
      ...
    </p>
    <p><strong>Save As...</strong> <br />...</p>
  </div>
  <!-- 1.0.0 (remember to include dev docs at some point) -->
  <div>
    <h2>1.0.0 (14th May 2018)</h2>
    <div style="display: flex; align-items: center">
      <img
        src="assets/img/changelog/celebration-small.png"
        style="height:32px; margin-right:5px"
      />
      <strong>First version is live</strong>
    </div>
    <p style="margin-top:5px">
      We're excited to release a first version of the decision assistant for
      feedback from a wider audience. We will use this opportunity to
      automatically detect and quickly fix any bugs that might arise, as well as
      collating more general feedback to prioritise stages of future
      development.
    </p>
    <p>
      Click here to view
      <a
        download
        target="_blank"
        href="https://firebasestorage.googleapis.com/v0/b/unhcr-sampling-assistant.appspot.com/o/Documentation%2FSampling%20Decision%20Assistant%20Preview%20May%202018.pdf?alt=media&token=94564761-992f-4896-a074-cc3000a2a34a"
      >
        a short overview of the app</a
      >
    </p>
  </div>

  <!-- 0.9.12 -->
  <div>
    <h2>0.9.12 (13th May 2018)</h2>
    <p>
      <strong>Stage 6</strong>
      <br />
      The allocation component is finally fully operational, with the inclusion
      of a table to show overall totals for combinations of disaggregation
      levels. Now there will just be a short minor review process before v1.0
      release
    </p>
    <ngx-image-viewer
      [src]="['assets/img/changelog/0.9.12-update-1.png']"
    ></ngx-image-viewer>
  </div>

  <!-- 0.9.11 -->
  <div>
    <h2>0.9.11 (12th May 2018)</h2>
    <p>
      Various bug fixes and minor improvements, mostly focused on sample size
      calculations and allocation for single stage sampling processes or those
      without disaggregation levels.
    </p>
  </div>

  <!-- 0.9.10 -->
  <div>
    <h2>0.9.10 (10th May 2018)</h2>
    <p>
      <strong>Review</strong>
      <br />The review page now displays a summary of questions from all of the
      individual sections. All standard questions can be directly edited,
      however the specific reporting level classifications and sampling stage
      builder questions require the user to go back to the corresponding section
      in the app.
    </p>
    <p>
      <strong>Exports and Imports</strong>
      <br />
      Three methods have been generated to work with exported data from the
      review section:
      <br />
      <ion-icon style="margin-right:5px" name="custom-database"></ion-icon>
      Project Data: This is a text document which can then be shared with others
      and imported into the calculator through the load project screen
      <br />
      <ion-icon style="margin-right:5px" name="custom-excel"></ion-icon>
      XLS Summary: This contains a breakdown of questions answered and
      information calculated for the project for more general use
      <br />
      <ion-icon style="margin-right:5px" name="custom-tree"></ion-icon>
      Tree Diagram: This is a seperate image containing the generated tree
      diagram (currently sized at the same size viewed in the browser, but in
      the future this will be scaled up)
    </p>
    <p>
      <strong>More Resource Videos</strong>
      <br />An additional 6 videos have been created to support resource help
      elements in the first step. The second video is included below, you can
      view the rest individually the resource section, or together on
      <a
        target="_blank"
        nofollow
        href="https://www.youtube.com/watch?v=akco-dy3dSA&list=PLK5PktXR1tmOEvcWo1XQ79dYrnQGQlaNO"
        >Youtube.</a
      >
    </p>
    <youtube-player
      videoId="PsdYqgfQEAM"
      width="450"
      height="300"
    ></youtube-player>
    <p>
      In addition, audio resources now display with text if the user would like
      to both listen and read along.
    </p>
  </div>

  <!-- 0.9.9 -->
  <div>
    <h2>0.9.9 (9th May 2018)</h2>
    <p>
      More backend improvements, code tidying and refactoring. Work towards
      improved import/export functionality (coming soon)
    </p>
  </div>

  <!-- 0.9.8 -->
  <div>
    <h2>0.9.8 (8th May 2018)</h2>
    <p>
      <strong>Codebase Upgrade</strong>
      <br />
      The core codebase received an upgrade to latest versions released as of
      May 2018. This aims to improve performance, security and future
      maintenance
    </p>
    <p>
      <strong>Dramatic Performance Improvements</strong>
      <ion-icon name="trending-up" style="margin:0 5px"></ion-icon>
      <br />
      Alongside the codebase upgrade, the existing code has been optimised to be
      much smaller (roughly 1/10 size), load faster, and load 'lazily' in the
      background. This should see a dramatic improvement in the time taken for
      initial loading and navigation.
    </p>
    <p>
      <strong>Offline-ready</strong>
      <br />
      The webapp now works offline! All files used are now cached locally so
      that the site will still function if internet connectivity is lost. When
      there are updates to the app these are downloaded silently in the
      background, and a notification message is presented to request the user
      reloads the web page to see the latest version.
    </p>
    <p>
      <strong>Stage 6</strong> - Sample sizes can now be allocated at each
      stage. This has been through a few iterations and there are still some
      planned improvements, but for now it will be able to track individual
      allocation across changing sampling requirements and help to provide a
      visual overview (future update will also include a table with totals)
    </p>
  </div>

  <!-- 0.9.7 -->
  <div>
    <h2>0.9.7 (29th April 2018)</h2>
    <p>
      <strong>Stage 6</strong> - The R-shiny calculator app has been rewritten
      entirely in javaScript so that it can be fully embedded into the app and
      even work offline. You can see it in action on the Stage 6 - Sample Sizes
      section. <br />More work has also been done to link nodes in the tree
      diagram to the rest of the app, for example when clicking on a node you
      can now see information relating to the sampling stage. In the next update
      there should also be the finished implementation of allocating sample
      sizes at each stage.
    </p>
    <ngx-image-viewer
      [src]="['assets/img/changelog/0.9.7-update-1.png']"
    ></ngx-image-viewer>
    <p>
      <strong>Errors and Bug fixing</strong> Ahead of the initial beta launch
      the app has undergone lots of additional tests with any bugs found
      prioritised for fixing. As it is however difficult to fully test every
      scenario that the allows for an additional service has been integrated
      that will automatically track any errors that a user may encounter, and
      automatically send a report on the error alongside key information to the
      developer, allowing easier tracking and fixing.
    </p>
    <ion-icon name="bug" style="color: green"></ion-icon> =>
    <ion-icon name="cloud-upload"></ion-icon>
    <p>
      <strong>Save, Load and Project Delete</strong>- these have been fixed and
      should be working as expected. The option to load predefined example
      templates is yet to be implemented, as is the full xls export/import
      feature (coming soon!)
    </p>
  </div>

  <!-- 0.9.6 -->
  <div>
    <h2>0.9.6 (26th April 2018)</h2>
    <p>
      Various bug fixes and putting more infrastructure in place for stage 6
      (including a lightweight javascript-based stats package :D )
    </p>
  </div>

  <!-- 0.9.5 -->
  <div>
    <h2>0.9.5 (24th April 2018)</h2>
    <p>
      <strong>User notes</strong> - You'll find more notes throughout the app,
      styled as:
    </p>
    <note type="tip">Hints/Tips</note>
    <note type="clearTip">Subtle Hints/Tips</note>
    <note type="info">Information</note>
    <note type="warning">Warnings</note>
    <note type="error">Errors</note>
    <note type="dev">Features under construction</note>
    <p>
      <strong>Bug fixes</strong> - Lots more minor fixes and improvements, known
      issues have also been organised and prioritised into a rough set of
      milestones.
    </p>
    <ngx-image-viewer
      [src]="['assets/img/changelog/0.9.5-update-1.png']"
    ></ngx-image-viewer>
    <div>
      You can view the full list on
      <a
        target="_blank"
        rel="nofollow"
        href="https://github.com/stats4sd/Sampling-Decision-Assistant/milestones?direction=asc&sort=due_date&state=open"
        >Github</a
      >
    </div>
    <p>
      <strong>Performance and user flow improvements</strong>- Again, lots of
      incremental improvements to how the app runs, aiming for a smooth and
      consistent experience
    </p>
    <p>
      <strong>Coming soon: service workers</strong> - Part of how the app will
      function in the future is to automatically download all files required so
      that it can work offline. That way simply loading the site once with
      internet access will allow it to still function when no internet is
      available. This is achieved through a helper piece of code called a
      'service worker'. A possible implementation was tested in this version
      however a few improvements need to be made before it is properly ready.
    </p>
  </div>

  <!-- 0.9.4 -->
  <div>
    <h2>0.9.4 (20th April 2018)</h2>
    <p>
      <strong>Glossary</strong> - lots of new terms have been added and can be
      seen from the main <a href="/#/glossary">glossary page</a>. In the next
      update lists of words that appear in each section will also be populated.
    </p>
    <strong>Videos</strong> - A new video for section 1 has been produced. You
    can see it here:
    <br />
    <br />
    <youtube-player
      videoId="akco-dy3dSA"
      width="450"
      height="300"
    ></youtube-player>
    <p>
      <strong>Save/Load</strong> - This page no longer shows projects created
      from earlier versions. These can still be recovered on request and as of
      v1.0 it is expected that subsequent data structure changes should
      automatically upgrade.
    </p>
    <p>
      <strong>Navigation</strong> - More changes have been added to the way the
      app handles transitions between different sections to make the overall
      experience smoother across mobile and web, and corresponding code more
      accessible. The main change you might see is some extra portions of the
      address bar indicating things like '?activeGlossary' for when a glossary
      term has been selected. This is designed to make it easier to direct the
      user to a specific portion of the app, however may still change slightly
      in the future as the core platform has a proposed significant upgrade for
      issues relating to this.
    </p>
    <p>
      <strong>Bug fixes and general improvements</strong> - various rounds of
      testing and fixing (11 issues closed, 15 new issues open <br />
      See the full list on
      <a
        href="https://github.com/stats4sd/Sampling-Decision-Assistant/issues"
        target="_blank"
        rel="nofollow"
        >Github</a
      >
    </p>
    <ngx-image-viewer
      [src]="['assets/img/changelog/0.9.4-update-1.png']"
    ></ngx-image-viewer>
    <p>
      <strong>Code refactoring</strong> - Numerous changes to make the codebase
      more user-friendly (mostly linked to a universal app 'state' (redux) which
      provides access to all relevant information currently being handled by the
      app)
    </p>
  </div>

  <div>
    <h2>0.9.3 (11th April 2018)</h2>
    <p>
      Admin page (internal use) and glossary editor
    </p>
    <h2>0.9.2 (9th April 2018)</h2>
    <p>
      Stage 6 rebuild and fixes
      <br />Save/Load fixes
    </p>
    <h2>0.9.1 (5th April 2018)</h2>
    <p>
      Stage 5 rebuild and fixes
      <br />More editor features
    </p>
  </div>

  <!-- 0.9.. -->
  <h2>0.9.0 (29th March 2018)</h2>
  <p>
    <strong>User Interface and Experience</strong>
    <br />
    Various improvements including ability to automatically resume last project,
    background saving on every change so work shouldn't be lost, clearer
    question boxes, and optional range-slider style question (currently bugged
    in chrome). <br />Option to rename reporting levels and sampling stages, and
    better managing of other data associated with them. A number of other minor
    bug fixes.
  </p>
  <p>
    <strong>Online Database</strong>
    <br />
    A backend development live database has been created and linked to allow
    content editors to directly make changes to the app (such as writing
    glossary definitions or resources). Once live this will be removed.
  </p>
  <p>
    <strong>Structure and Logic Changes</strong>
    <br />
    A large rewrite of lots of the backend logic to better manage state changes.
    What this means in practice is: <br />
    a) The survey is now smart enough to not only manage what questions
    have/haven't been answered, but what is applicable/not. This should come in
    useful for the final export so there are not lots of unnecessary n/a values.
    <br />
    b) It's easier to understand exactly where in the app the user is - the url
    currently shows the general section, but not if the user is in the glossary,
    resources, or a subsection. Now it's easier to update selected portions of
    content based on this distinction, as well as do things like open a given
    set of resources after the help button has been clicked. <br />
    c) Finding and fixing bugs is easier as a timeline of all changes is
    generated and can be carefully observed. <br />
    d) Much improved efficiency on dynamic questions - e.g. automatically
    calculating standard deviation. Before we had to watch for changes to all
    question variables in the project as the specific min/max didn't yet exist.
    Now we can monitor the creation of new variables min/max and then attach an
    observer to respond when value changes
  </p>

  <!-- 0.8.2 -->
  <h2>0.8.2 (6th March 2018)</h2>
  <p>
    <strong>Navigation</strong> - Stages with multiple steps now have an
    additional bar at the top to help navigate where in the process you the user
    is. The usual sliding style interaction between sections has also been
    replaced with a more subtle transition
  </p>
  <stage-breadcrumbs [stage]="5" [stageSlidesIndex]="1"></stage-breadcrumbs>
  <p>
    <strong>Stage 4</strong> - Reporting levels are now classified during this
    stage (previously stage 5) and lists of combination are presented for
    review. In the future there may be an option for users to specify which
    levels of combination they consider relevant, however for now it should help
    to advise against the use of too many complex levels where not necessary.
  </p>
  <p>
    <strong>Tree diagram</strong> - now supports multiple reporting levels in a
    single stage and automatically populates combinations of unallocated
    reporting levels within the final sampling unit (orange boxes at the bottom
    level). It's also had a number of iterations of styling and display logic.
    (Next step will be to allow user input for nodes, an early template has been
    started in the resources -> allocating section however it's not functional
    yet)
  </p>

  <!-- 0.8.1 -->
  <h2>0.8.1 (3rd March 2018)</h2>
  <p>
    <strong>Sample size calculator</strong> - A first pass have been given to
    write a calculator in R which is embedded into the app in stage 6. Currently
    the calculator requires the manual input of variables which are already
    present in the app, however in the future they will be better integrated.
  </p>
  <ion-button (click)="launchSampleSizeCalculator()">
    <ion-icon name="calculator" slot="start"></ion-icon>Sample Size Calculator
  </ion-button>
  <p>
    <strong>Audio and Visual Resources</strong> - A new template has been
    included to display combinations of text, audio and visual resources, with a
    sample of resources available for stage 1, e.g.:
  </p>
  <div class="resources-demo">
    <resources-list [stage]="0"></resources-list>
  </div>
  <!-- 0.8.0 -->
  <h2>0.8.0 (27th February 2018)</h2>
  <p>
    <strong>Stage 5</strong> - The logic for the most complex case scenarios
    (e.g. multiple stages with sampling and stratification at each stage) is up
    and ready for wider testing. This required a rewrite of how much of the data
    was handled to better track nested and linked variables, and provide easier
    creation of custom question interfaces.
  </p>
  <ngx-image-viewer
    [src]="['assets/img/changelog/0.8.0-update-1.png']"
  ></ngx-image-viewer>
  <p>
    <strong>Stage 6</strong> - First draft of a sampling tree diagram is now
    available, linking to the data from stage 5. This will be built on in the
    upcoming updates to allow for allocation of sample sizes throughout all
    stages.
  </p>
  <p>
    Lots of bug fixes and minor improvements (e.g. stage completion
    notifications for all stages, automatic saving after every cahnge, fewer
    double scroll bars, improvements for microsoft edge)
  </p>
  <!-- 0.7.2 -->
  <h2>0.7.2 (14th February 2018)</h2>
  <p>
    <strong>Stage 5</strong> - further development of multi-stage building
    strategy (incomplete) <br />
    Drag/drop interactions - currently implemented for stage 5 q5.2 <br />
    Background saving and resume of unsaved project <br />
    Lots of minor bug fixes and style improvements as well as general
    improvements to backend project layout and logic
  </p>
  <!-- 0.7.1 -->
  <h2 id="th-february-2018">0.7.1 (9th February 2018)</h2>
  <p>
    Inclusion of a changelog (this page) to help provide more information on
    updates during development stages (it is also planned to include future
    roadmap)
  </p>
  <p>
    Stage 2 - now includes question on margins or error (2.4), questions related
    to proportions (2.1.2, 2.3.1), completion criteria, tweaks to text and
    interactions and resource key question placeholders.
  </p>
  <h2 id="th-february-2018-1">0.7.0 (6th February 2018)</h2>
  <p>
    <ion-icon name="help-circle" style="margin-right:5px"></ion-icon>
    Help icons - now link to the resources section, and a couple of placeholder
    resources have been added to stage 1 to show how interactions might work.
    Resources are tagged to specific questions and open automatically when
    triggered from the help icon.
  </p>
  <p>
    Completion status - new checkbox at the end of a section to track completion
    status and allow marking a section as complete. Reflects in animated button
    at the top of the page as well as the main step-by-step dashboard/landing
    page. Currently implemented just for stage 1
  </p>
  <p>
    Stage 1 - Supporting text rewritten, minor changes to questions, expanded
    glossary
  </p>
  <h2 id="st-february-2018">0.6.2 (1st February 2018)</h2>
  <div
    id="mynetwork"
    class="tree-diagram"
    style="background-color: #DAE4E4;"
  ></div>
  <p>
    Tree diagram visualisation component - integrated through the package
    vis.js, allows production of graphics such as tree diagrams and flow charts
    and will be used to help illustrate multi-stage sampling. Current
    placeholder illustrations available in sections 5 and 6
  </p>
  <h2>0.6.1 (22nd January 2018)</h2>
  <p>Further content development for stages 1-5, glossary restructuring</p>
  <h2>0.6.0 (20th January 2018)</h2>
  <p>
    Content development focused on stages 1 and 5. Warning/info messages and
    some codebase restructuring
  </p>
</ion-content>
