p {
  line-height: 1.5em;
}
// image viewer
#ngx-fs-btn {
  display: none;
}
.resources-demo {
  h2,
  .dev {
    display: none;
  }
}
.breadcrumbs-container {
  max-width: 300px;
}
h3 {
  margin-top: 1em !important;
  color: black;
  font-weight: bold;
  font-size: 1em;
}
