<!-- project title input prompt -->
<note type="tip" *ngIf="!projectTitle && sectionValid" [@flyin]="'in'">
  <div>Your project doesn't have a title yet. You can add one in the space below</div>
  <form style="display: flex">
    <ion-input type="text" class="project-title-input" [(ngModel)]="projectTitleInput" [ngModelOptions]="{standalone: true}"></ion-input>
    <button ion-buttonclear color="primary-inverted" (click)="saveProjectTitle()" [disabled]="!projectTitleInput || isSaving">Save</ion-button>
  </form>
  <note type="error" *ngIf="showErrorMsg">A project with that name already exists</note>
</note>

<!-- stage complete checkbox -->
<div class="complete-container">
  <ion-item *ngIf="form" style="max-width:400px">
    <ion-label *ngIf="!text">Mark Step as Complete</ion-label>
    <ion-label *ngIf="text">{{text}}</ion-label>
    <ion-checkbox [disabled]="!sectionValid" [(ngModel)]="stagesComplete[stage.number]" (ionChange)="toggleCheckbox()"></ion-checkbox>
  </ion-item>
  <button ion-buttonicon-right *ngIf="stagesComplete[stageNumber] && !hideButton && stage.number!=6" (click)="nextStage()">
    Next Stage
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
  <button ion-buttonicon-right *ngIf="stagesComplete[stageNumber] && !hideButton && stage.number==6" (click)="goToReview()">
    Review and Export
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
</div>