.complete-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0 30px 0;
}

// .input-title-warning{
//     padding:5px 5px 15px 5px;
//     background: color($colors,primary);
//     color: white;
//     display:flex;
// }

.project-title-input {
  border-bottom: 1px solid white;
}

// .complete-container{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     width: 100%;
//     padding:5px;
//     background-color: #e5d25b;
//     margin-top:20px;
// }
// .complete-icon{
//     font-size: 32px;
//     color: white;
// }
// h2{
//     color:black;
//     text-align: center;
//     flex-basis: 100%;
//     margin:0;
// }
