a {
  text-decoration: unset;
}
.slide-content {
  .item {
    font-size: 14px !important;
  }
}
.stage-slides {
  .slide-zoom,
  .swiper-slide {
    font-size: 14px;
    text-align: left;
  }
}

// stage intro
.intro-box {
  text-align: left;
  border: 2px solid var(--ion-color-primary);
  margin-bottom: 20px;
}
.intro-heading {
  display: flex;
  position: relative;
  height: 26px;
  align-items: center;
  background-color: var(--ion-color-primary);
  padding: 0 5px;
  line-height: 1.2;
  font-size: large;
  color: white;
}
p {
  font-size: 14px;
  padding: 5px;
}
.stage-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 5px 0px 5px;
}
#stageResources {
  width: 150px;
  text-align: right;
}
#stageOverview {
  min-width: 280px;
  flex: 1;
}
.video-button {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
@media only screen and (max-width: 500px) {
  #stageResources {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
}
