<div *ngIf="sampleStageMeta">
  <div style="display: flex; flex-wrap: wrap">
    <div>
      <!-- Information provided -->
      <div class="calc-section provided">
        <div class="section-title">Information provided</div>
        <ion-list style="margin:10px">
          <div *ngFor="let field of calculatedFields">
            <ion-item class="input-item" *ngIf="!inputValues[field.var]">
              <div class="input-label">{{field.label}}</div>
              <note type="error">Input Missing</note>
            </ion-item>
            <ion-item class="input-item" *ngIf="inputValues[field.var]">
              <div class="input-label">{{field.label}}</div>
              <div class="input-value">{{inputValues[field.var]}}</div>
            </ion-item>
          </div>
        </ion-list>
      </div>
      <!-- assumption inputs variables -->
      <div class="calc-section assumptions">
        <div class="section-title assumptions">
          <div>Assumptions</div>
          <div (click)="resetVariables()" class="reset-button">
            <span>reset</span>
            <ion-icon name="refresh"></ion-icon>
          </div>
        </div>
        <div style="margin:10px">
          <ion-item class="input-item">
            <ion-label position="fixed">{{moe.label}}</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="inputValues.moe"
              (ionChange)="calculateSize()"
            ></ion-input>
          </ion-item>
          <ion-item class="input-item">
            <ion-label position="fixed">Clustering Level</ion-label>
            <ion-select
              [(ngModel)]="inputValues.rho"
              (ionChange)="calculateSize()"
            >
              <ion-select-option value="0">None</ion-select-option>
              <ion-select-option value="0.1">Low (0.1)</ion-select-option>
              <ion-select-option value="0.25"
                >Moderate (0.25)</ion-select-option
              >
              <ion-select-option value="0.5">High (0.5)</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item
            class="input-item"
            *ngIf="sampleStages>1 && sampleStageMeta"
          >
            <ion-label position="fixed"
              >Number of {{sampleStageMeta[sampleStageMeta.length-1].name}} per
              {{sampleStageMeta[sampleStageMeta.length-2].name}}</ion-label
            >
            <ion-input
              type="number"
              [(ngModel)]="inputValues.nHH"
              (ionChange)="setFinalStageN()"
            ></ion-input>
          </ion-item>
          <ion-item class="input-item">
            <ion-label position="fixed" *ngIf="sampleStageMeta"
              >Total {{sampleStageMeta[sampleStageMeta.length-1].name}} in
              Population</ion-label
            >
            <ion-input
              type="number"
              min="1"
              max="9999999999"
              [(ngModel)]="inputValues.Population"
              (ionChange)="calculateSize()"
            ></ion-input>
          </ion-item>
          <ion-item class="input-item">
            <ion-label position="fixed">Desired Confidence Level</ion-label>
            <ion-input
              type="number"
              min="0.9"
              max="0.999"
              step="0.01"
              [(ngModel)]="inputValues.conf"
              (ionChange)="calculateSize()"
            ></ion-input>
          </ion-item>
        </div>
        <div>
          <help-icon
            slot="icon-only"
            relevant="q6.1"
            text="How is the sample size calculated?"
          ></help-icon>
        </div>
      </div>
    </div>

    <!-- calculator results -->
    <div class="calc-section results" style="margin-right: 0">
      <div class="section-title results">
        <div style="margin-right: 5px">
          <ion-icon name="calculator"></ion-icon>
          <span style="margin-left:5px">Results</span>
        </div>
      </div>
      <!-- multi stage results -->
      <div
        class="result-subsection"
        id="multiStageResults"
        *ngIf="disaggregationMeta"
      >
        <!-- Show results button -->
        <div *ngIf="!showResults" id="showResults">
          <ion-button (click)="toggleShowResults()"
            >Calculate Results</ion-button
          >
        </div>
        <!-- main results section -->
        <div [style.opacity]="showResults ? 1 : 0.2">
          <div class="result-subsection">
            <span
              >The sample size calculation for each reporting combination is
            </span>
            <span class="result primary"
              >{{outputs.raw.FinalstageN_FPC}}
              {{sampleStageMeta[sampleStageMeta.length-1].name}}</span
            >
          </div>
          <div class="result-subsection">
            <span
              >You specified that you wish to disaggregate reports based on
            </span>
            <span
              *ngFor="let level of disaggregationMeta.reportingLevels; last as isLast"
            >
              <span class="result primary">{{level.name}}</span>
              <span *ngIf="!isLast"> and </span>
            </span>
            <span>, with a total of </span>
            <span class="result primary"
              >{{disaggregationMeta.levelCombinations.length}}</span
            >
            <span> combinations:</span>
            <div style="display: flex; flex-wrap: wrap">
              <div
                class="level-combination"
                *ngFor="let combination of disaggregationMeta.levelCombinations"
              >
                <div>
                  <span *ngFor="let label of combination; last as last"
                    >{{label}}<span *ngIf="!last">, </span></span
                  >
                </div>
                <div style="margin-top:1em">
                  n = {{outputs.raw.FinalstageN_FPC}}
                </div>
              </div>
            </div>
            <div style="margin-top:1em;">
              Therefore the overall minimum sample size recommended is
              <span class="result primary"> {{totalSampleSize}}</span>
            </div>
          </div>
          <div class="result-subsection">
            <span> The estimated design effect is </span>
            <span class="primary"> {{outputs.raw.DEFF1}}</span>
          </div>
          <div class="section-divider"></div>
          <div class="result-subsection">
            <span
              >You intend to conduct {{sampleStageMeta.length}} stages of
              sampling</span
            >
            <div
              *ngFor="let stage of sampleStageMeta; last as isLast; first as isFirst; index as i"
            >
              <div *ngIf="isFirst" class="primary">- {{stage.name}},</div>
              <div *ngIf="!isFirst">
                <span class="primary">- {{stage.name}}</span> within
                <span class="primary">
                  {{sampleStageMeta[i-1].name}}
                </span>
              </div>
            </div>
          </div>
          <div class="result-subsection">
            You will decide how you want to distribute the
            {{sampleStageMeta[sampleStageMeta.length-1].name}} within the other
            sampling stages during the next part.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
