.error-message {
  padding: 5px 16px;
  color: rgb(165, 11, 11);
}
.survey-title {
  font-weight: 500;
  font-size: large;
  white-space: normal;
}
.survey-date {
  font-size: small;
}
.link {
  font-weight: 700;
  cursor: pointer;
}
h3 {
  margin-top: 2em;
}
[data-deprecated="true"] {
  display: none;
}
.active-project-label {
  color: var(--ion-color-primary);
}
