<ion-header>
  <ion-toolbar color="primary-inverted">
    <ion-title>Saved Projects</ion-title>
    <ion-buttons slot="primary">
      <button ion-buttonicon-left icon-right (click)="dismiss()">
        Close
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div *ngIf="view=='save'">
    <h3>Create New Project</h3>
    <ion-list>
      <ion-item>
        <ion-input
          placeholder="Input a name for the project"
          [(ngModel)]="saveName"
        ></ion-input>
      </ion-item>
      <note type="error">{{errorMsg}}</note>
      <note type="info">Future progress will be automatically saved</note>
      <ion-item>
        <ion-button
         
          icon-left
          [disabled]="!saveName"
          (click)="createNew()"
        >
          <ion-icon name="create"></ion-icon>Create
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="view=='load'">
    <h3>Load saved project</h3>
    <ion-list>
      <ion-item *ngFor="let project of savedProjects">
        <div style="display: flex">
          <div style="flex:1; cursor:pointer" (click)="loadProject(project)">
            <div class="survey-title">
              {{project.title? project.title : 'untitled'}}
            </div>
            <div class="survey-date">{{project.created | date}}</div>
          </div>
          <div style="margin:5px">
            <ion-button
             
              icon-only
              clear
              (click)="deleteProject(project)"
              *ngIf="project.created != activeProject.created"
            >
              <ion-icon name="trash" color="delete"></ion-icon>
            </ion-button>
            <div
              class="active-project-label"
              *ngIf="project.created == activeProject.created"
            >
              Active
            </div>
          </div>
        </div>
      </ion-item>
      <div *ngIf="savedProjects.length==0">
        There are no projects saved. Click
        <span class="link" (click)="setView('save')">here</span> to create a new
        project
      </div>
    </ion-list>
    <h3>Load a project templates</h3>
    <ion-list>
      <div class="temp-text">
        Here you will be able load templates that have been precreated to
        facilitate the sampling decision processes
      </div>
    </ion-list>
    <h3>Import data JSON</h3>
    <ion-list>
      <div>Import a file previously exported from the tool</div>
      <file-drop
        headertext="Drop files here"
        (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
      >
        <!-- <span>optional content (don't set headertext then)</span> -->
      </file-drop>
      <note type="error" *ngIf="errorMsg">{{errorMsg}}</note>
    </ion-list>
  </div>
</ion-content>
