.multiple-list {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 5px 5px 5px 20px;
  font-size: medium;
  color: rgba(0, 0, 0, 0.9);
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  flex: 1;
  color: var(--ion-color-primary);
}
.multiple-list-value {
  margin-left: 10px;

  height: 3.6rem;
}
.multiple-list-main {
  flex: 1;
  height: 3.6rem;
  align-content: center;
}
.edit-button {
  margin-left: 5px;
  opacity: 0.3;
  color: black;
}
.multiple-remove-button {
  color: rgba(0, 0, 0, 0.3);
}
.multiple-list[data-editing="editing"] {
  background-color: wheat;
}
