.allocation-input {
  margin-top: 1em;
}
.allocation-input > input {
  margin: 0;
  padding: 10px;
  color: color($colors, primary);
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
.reporting-inputs {
  display: flex;
}
.reporting-inputs-label {
  margin-top: 1em;
  margin-right: 15px;
  padding: 5% 0;
}
.reporting-total {
  margin-top: 1em;
}
.reporting-total > span {
  font-weight: bold;
}
