<div class="slide-content">
  <stage-breadcrumbs [stage]='4' [stageSlidesIndex]="stageSlidesIndex"></stage-breadcrumbs>
  <div [ngSwitch]="stagePart">
    <!-- Intro slide -->
    <div *ngSwitchDefault>
      <p>
        To design a sampling plan, it is important to define the reporting requirements or goals.
        Depending on how you intend to report results, you may or may not have to consider your total sample size
        and method of selection differently.
        <br><br>
        The first question is to decide if you wish to divide your population to produce
        <glossary-link slug="disaggregate-estimates">disaggregated estimates. </glossary-link>
        If you need to give different figures for separate groups within your population, then you actually need an
        estimate for each one.
      </p>
      <p>
      </p>
      <survey-question controlName="q4.1"></survey-question>
      <div *ngIf="form.value['q4.1']=='Disaggregated estimates'">
        <p>
          Here, think about the reporting requirements for your estimates or any stratification criteria that you need
          to include. Reporting requirements means that you will need to provide estimates for the indicator of
          interest for each subsection of the population, divided by criteria you specify.
          <br><br>
          Often strata are formed to define reporting requirements and in those cases this tool makes no difference
          between strata and reporting requirements. Sometimes, you may need to divide your population into strata to
          improve the precision of your estimates, but you have no requirement for estimates disaggregated by those
          strata. If you want this type of strata, make sure you remove the ‘reporting required’ tick from the table on the next
          screen where your reporting requirements and strata are summarised.

        </p>
      </div>

      <survey-question controlName='reportingLevels'></survey-question>


      <div *ngIf="form.value['q4.1']=='One estimate'">
        <p>Provide a name or reference for the estimate. This should be the same as, or an abbreviation of your
          indicator</p>
        <survey-question controlName='q4.3' [showLabel]="false"></survey-question>
        <!-- <stage-complete stageNumber=4></stage-complete> -->
      </div>
    </div>

    <!-- define levels slide -->
    <div *ngSwitchCase="1">
      <stage-4-define-level-categories></stage-4-define-level-categories>
    </div>

    <div *ngSwitchCase="2">
      <stage-4-review-levels></stage-4-review-levels>
      <stage-complete stageNumber=4></stage-complete>
    </div>
  </div>

  <!-- Next and back buttons -->
  <div style="display: flex; justify-content:space-between; padding-bottom:20px; margin-top:20px">
    <ion-button icon-right (click)="nextStep()" *ngIf="stagePart !='2'" clear block>Continue
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
</div>



<!-- <p>Here is a list of your target population characteristics for reference. If any of these also form reporting
                    levels make sure they are included in the list above (e.g. if you plan to compare time periods 2017 and
                    2018, you may wish to specify 'year' as a reporting level)</p>
                <ul>
                    <li *ngIf="form.value['q3.2']">Geographic:
                        <survey-reference controlName="q3.2"></survey-reference>
                    </li>
                    <li *ngIf="form.value['q3.3']">Population Group:
                        <survey-reference controlName="q3.3"></survey-reference>
                    </li>
                    <li *ngIf="form.value['q3.4']">Time:
                        <survey-reference controlName="q3.4"></survey-reference>
                    </li>
                </ul> -->