<div class="question-container">
  <div style="display: flex;">
    <div>
      <div *ngIf="reportingLevels.length>0">
        <p *ngIf="!isFinalStage">
          Do the sampling units form strata to satisfy any of your reporting
          requirements? <br />
          If yes select from the list below.
        </p>
        <p *ngIf="isFinalStage">
          As this is the final sampling stage all reporting requirements that
          have not already been satisfied will be included here
        </p>
      </div>

      <p *ngIf="reportingLevels.length===0">
        No disaggregation levels have been specified. This can be changed in
        section 4.
      </p>
      <ion-list *ngIf="reportingLevels.length>0">
        <ion-list-header>Disaggregation</ion-list-header>
        <!-- non-final stage -->
        <div *ngIf="!isFinalStage">
          <ion-item
            *ngFor="let level of reportingLevels"
            [class.alreadySelected]="alreadySelected[level]"
          >
            <ion-label>{{level}}</ion-label>
            <ion-checkbox
              (ionChange)="selectedChanged()"
              [(ngModel)]="selected[level]"
              [disabled]="alreadySelected[level]"
            ></ion-checkbox>
          </ion-item>
        </div>

        <!-- final stage -->
        <div *ngIf="isFinalStage">
          <ion-item
            *ngFor="let level of reportingLevels"
            [class.alreadySelected]="alreadySelected[level]"
          >
            <ion-label>{{level}}</ion-label>
            <ion-checkbox
              disabled
              [checked]="finalChecked[level]"
            ></ion-checkbox>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </div>
</div>
