<div class="slide-content">
  <stage-breadcrumbs [stage]='6' [stageSlidesIndex]="stageSlidesIndex"></stage-breadcrumbs>
  <div [ngSwitch]="stagePart">
    <!-- recap  -->
    <div *ngSwitchDefault>
      <h4>Allocating resources</h4>
      <p>The final step in this process is to determine the number of units that should be sampled at every stage in
        the process
      </p>
      <p>The results will be based the hierarchy of sampling stages and reporting levels that you have specified, with
        supporting calculations for margin of error and design effect</p>
      <p>Here is a diagram summarising the stages and reporting requirements provided so far:</p>
      <tree-diagram [showInputNodes]="false" [showKey]="'true'" *ngIf="initComplete" class="fade-in"></tree-diagram>
      <div style="margin-top:1em; max-width:90%">
        <note type="tip">Click on the each shape in the diagram for more information about the node</note>
      </div>
      <tree-diagram-key></tree-diagram-key>


    </div>
    <!-- Sample sizes section -->
    <div *ngSwitchCase="1">
      <h4>Determining an overall sample size</h4>
      <p>
        In the calculator below, you can generate approximate sample sizes to guide your resource allocation. This
        calculator will give a number of (final sampling units) needed for each reporting combination. This generated
        number is the minimum required to provide an estimate of an indicator within the margin of error specified. The
        sample sizes calculated are based on the information provided so far and some assumptions. The assumptions can
        be adjusted according to the requirements of your study and the limitations of available resources.
        <br><br>
        This calculator assumes that a clustered sample procedure is taking place, and that random samples are to be
        taken from each cluster. If a simple random sample from the whole population is being taken instead, the set
        the clustering level to ‘none’.

      </p>

      <sample-size-calculator></sample-size-calculator>

    </div>
    <div *ngSwitchCase="2">
      <h4>Allocating resources</h4>
      <div style="margin-bottom:2em">You may change the number of sampling units selected throughout the stages until
        you get a distribution that
        matches your field conditions and the recommended sample size.</div>
      <tree-table></tree-table>
      <stage-complete stageNumber=6></stage-complete>
    </div>

  </div>


  <!-- Next and back buttons -->
  <div style="display: flex; justify-content:space-between; padding-bottom:20px">

    <button ion-button (click)="nextStep()" *ngIf="stagePart !='2'" fill="clear" expand="block">Continue
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-button>

  </div>

</div>