.stage-6-slides,
.slide-zoom,
.swiper-slide {
  font-size: 14px;
  text-align: left;
}
.sample-size-input {
  background-color: yellow;
  margin: 20px 0;
}

.fade-in {
  transition: 10000;
}

// node editor - should form its own component
.node-editor {
  height: 300px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid gray;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(200px);
  transition: 0.3s ease;
}
.node-editor[data-show] {
  transform: translateX(0);
  transition: 0.3s ease;
}
// .tree-container{
//     width:100%;
//     height: 300px;
//     position: relative;
//     overflow-x: hidden
// }
.touch-scroll-space {
  width: 100px;
}
.node-editor-heading {
  color: var(--ion-color-primary);
  text-align: center;
  padding: 5px;
  font-size: large;
}
.node-editor .item-inner,
ion-label {
  white-space: pre-line;
  text-overflow: unset;
  overflow-wrap: break-word;
  overflow: auto;
  font-size: small;
}

.key-image {
  max-width: 150px;
}
