.scroll-content {
  display: flex;
  flex-direction: column;
}
.start-button {
  font-size: large;
}
.align-start {
  align-items: flex-start;
}
.feature-image {
  height: 140px;
}
.card:hover {
  background-color: wheat;
}

.button-block {
  // minor tweak to prevent block buttons stretching over
  margin: 2px;
}
.version-info {
  position: absolute;
  right: 5px;
  color: var(--ion-color-primary);
  font-weight: 500;
  text-align: right;
  .button {
    padding: 0;
    margin: 0;
  }
}
#StepByStepPage {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  font-weight: bold;
}
.section-icon {
  font-size: x-large;
}
#stats4sdAdmin {
  margin-top: 100px;
  text-align: right;
  text-decoration: underline;
  cursor: pointer;
}
#stats4sdLink {
  color: #cf1a27;
}
