<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span style="flex:1">Additional Resources</span>
      <span *ngIf="stageNumber" class="stage-title">
        - Stage {{stageNumber}}</span
      >
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <resources-list
    [stageNumber]="stageNumber"
    [relevant]="relevant"
  ></resources-list>
</ion-content>
