<div padding>
  <p style="font-size:1.2em">Welcome to the Sampling Decision Assistant tool</p>
  <p>If this is your
    <strong>first time</strong> using the tool you may wish to view:</p>
  <div class="intro-section">
    <div class="intro-box">
      <h2 class="sub-heading">Tool Introduction</h2>
      <div>
        <button ion-button expand="block"  fill="clear" (click)="showIntroText()">
          <ion-icon name="document" slot="start"></ion-icon>Read as text
        </ion-button>
      </div>
    </div>
  </div>
  <p>
    You may also wish to take a look at this example of the tool used in practice:
    <br><br>
    <strong>Baseline Assessment of the Children under 5 Wellbeing Programme</strong>
    <br><br>
    This is an anonymised adaptation of a real survey. You can read the briefing document and watch our video
    walkthrough of how to work through the tool to design a sampling plan, as well as downloading the project data and
    exploring it for yourself.
  </p>
  <video-popup-button buttonText="Watch the Video" youtubeID="JFNbnIG73ow"></video-popup-button>
  <div class="download-section">
    <div>
      <a href="assets/downloads/Baseline brief.pdf" download target="_blank">
        <img src="assets/img/intro-paper.png">
      </a>
    </div>
    <div class="download-section-text">
      <h3>Introduction</h3>
      Click to download a briefing document, containing background information and details of the objectives of the
      study.
    </div>
  </div>
  <div class="download-section">
    <div>
      <a href="assets/downloads/Baseline Assessment of the Children under-5 Wellbeing Programme.json" download target="_blank">
        <img src="assets/img/intro-project-data.png">
      </a>
    </div>
    <div class="download-section-text">
      <h3>Project Data</h3>
      The completed project data file with all steps completed. This can be loaded into the tool, and you may find it
      useful to see example answers, to follow along the walkthrough video with it, or to use it to experiment with
      adjusting options and exploring the effects on your sampling scheme.
    </div>
  </div>

  <!-- How do I load the JSON file? -->
  <note type="info">
    <p>
      <strong>How do I load the JSON file?</strong>
      <br><br>
      To load the example project data, download it above then go back to the start page and click on
      <strong>Use the Tool</strong>.
      Click <strong>menu</strong>, then <strong>load</strong>.
      <br><br>
      Under the <strong>Import data JSON heading</strong>, you’ll see a box. Drag the file you downloaded from the
      folder into the box. You should now see the main page with the project title displayed. There is also a
      demonstration of how to do this at the beginning of the walkthrough video below.
    </p>
  </note>
  <!-- This is a video walkthrough of the tool, explaining the process of designing a sampling scheme for this study, and
  giving reasoning behind the answers selected. -->
</div>