.note {
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.6);
  margin: 5px 0 20px 0;
}
.note-icon {
  font-size: x-large;
  margin-left: 5px;
}
.note-text {
  margin-left: 5px;
}
.note.alert {
  background-color: rgba(250, 78, 78, 0.541);
}
.note.warning {
  background-color: rgba(253, 200, 88, 0.66);
  .note-icon {
    color: #5a4812;
  }
}
.note.error {
  background-color: rgba(253, 88, 88, 0.66);
  .note-icon {
    color: black;
  }
}
.note.info {
  background-color: white;
  color: color($colors, primary);
  // border:1px solid color($colors,primary)
}
.note.success {
  background-color: #d4edda;
  color: #155724;
}

.note.tip {
  background-color: color($colors, primary);
  color: white;
}
.note.clearTip {
  background-color: white;
  color: color($colors, primary);
}
