<ion-header>
  <ion-toolbar color="primary-inverted">
    <ion-title>Saved Projects</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        Close
        <ion-icon name="close" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="view == 'load'">
    <h3>Load saved project</h3>
    <ion-list>
      <ion-item *ngFor="let project of savedProjects">
        <div style="display: flex">
          <div style="flex:1; cursor:pointer" (click)="loadProject(project)">
            <div class="survey-title">
              {{ project.title ? project.title : "untitled" }}
            </div>
            <div class="survey-date">{{ project.created | date }}</div>
          </div>
          <div style="margin:5px">
            <ion-button
              fill="clear"
              (click)="deleteProject(project)"
              *ngIf="project.created != activeProject.created"
            >
              <ion-icon name="trash" color="delete" slot="icon-only"></ion-icon>
            </ion-button>
            <div
              class="active-project-label"
              *ngIf="project.created == activeProject.created"
            >
              Active
            </div>
          </div>
        </div>
      </ion-item>
      <div *ngIf="savedProjects.length == 0">
        There are no projects saved.
      </div>
    </ion-list>
    <h3>Load a project templates</h3>
    <ion-list>
      <div class="temp-text">
        Here you will be able load templates that have been precreated to
        facilitate the sampling decision processes
      </div>
    </ion-list>
    <h3>Import data JSON</h3>
    <ion-list>
      <div style="margin-bottom: 1em;">
        Import a file previously exported from the tool
      </div>
      <ngx-file-drop
        headertext="Drop files here"
        (onFileDrop)="dropped($event)"
      >
      </ngx-file-drop>
      <note type="error" *ngIf="errorMsg">{{ errorMsg }}</note>
    </ion-list>
  </div>
</ion-content>
