tr {
  border: 1px solid transparent;
}
th[has-reporting="true"] {
  background-color: #f0b89e;
}
.spacing-header {
  color: white;
  border: none;
}
.section-title {
  padding: 1em 0;
}
.table-input {
  background-color: wheat;
  width: 100px;
}
.table-fixed {
  padding: 5px 11px;
}
td.pass {
  // background-color: rgba(40, 167, 69, 0.6);
  font-weight: bold;
}
td.fail {
  // background-color: #ffc107;
  color: red;
}
.strata-name {
  color: color($colors, primary);
  text-decoration: underline;
}

.strata-classification {
  margin: 2px 2px 0 0;
  padding: 5px;
}
ul {
  margin: 2px;
  padding-left: 15px;
  margin-block-end: 5px;
}
td.no-border {
  border: unset;
}
