<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sampling Decision Assistant</ion-title>
    <ion-buttons slot="primary">
      <ion-button icon-left (click)="showMenu($event)">
        <ion-icon name="more"></ion-icon>Menu
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="content-container">
    <div>
      <div *ngIf="activeProject">
        <!-- New project info -->
        <div
          *ngIf="!activeProject.title || editingMode"
          class="new-project-container"
        >
          <p icon-left>
            <ion-icon name="bulb"></ion-icon>You are working on a new project,
            please provide a title and description
          </p>
          <ion-list class="new-project-info">
            <ion-item>
              <ion-label color="primary">Title</ion-label>
              <ion-input
                (ionFocus)="enableEditing()"
                [(ngModel)]="activeProject.title"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary">Description</ion-label>
              <ion-textarea
                (ionFocus)="enableEditing()"
                [(ngModel)]="activeProject.description"
              ></ion-textarea>
            </ion-item>
            <ion-button id="saveProjectButton" (click)="save()">
              Save
            </ion-button>
          </ion-list>
          <div class="new-project-text">
            <video-popup-button
              buttonText="Watch Intro Video"
              [youtubeID]="introVideoYoutubeID"
            ></video-popup-button>
          </div>
        </div>

        <!-- Existing project info -->
        <div *ngIf="activeProject.title && !editingMode">
          <div class="existing-project-container">
            <div class="existing-project-container" style="flex:1">
              <div
                icon-left
                style="font-size: medium; font-weight:700"
                *ngIf="activeProject && activeProject.title"
              >
                <ion-icon name="clipboard"></ion-icon>{{activeProject.title}}
              </div>
              <ion-button icon-only clear (click)="enableEditing()">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </div>
            <!-- <button ion-button icon-left clear (click)="showIntroVideo()">
              <ion-icon name="logo-youtube"></ion-icon>Watch Intro Video
            </button> -->
            <video-popup-button
              buttonText="Watch Intro Video"
              [youtubeID]="introVideoYoutubeID"
            >
            </video-popup-button>
          </div>
        </div>
      </div>
      <!-- step by step sections -->
      <div class="section-break">Step By Step Decisions</div>
      <p class="instruction" icon-left>
        <ion-icon name="information-circle"></ion-icon>Use each step below to
        build an overview of your sampling decisions
      </p>
      <!-- section cards -->
      <div id="sectionCardsContainer">
        <ion-card
          *ngFor="let section of sections"
          class="hover-fill"
          style="height:120px"
          (click)="goToSection(section)"
          [ngClass]="section.class"
        >
          <div class="section-container">
            <div *ngIf="section.class=='disabled'" class="section-disabled">
              This step is not currently available for preview
            </div>
            <div class="section-icon-container">
              <img class="section-icon" [src]="section.icon" />
            </div>
            <div class="section-title">{{section.stage}}: {{section.name}}</div>
            <div class="section-status">
              <ion-button
               
                icon-only
                clear
                [disabled]="!stagesComplete[section.stage]"
              >
                <ion-icon name="checkmark-circle"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-card>
      </div>
      <!-- Review and export -->
      <div class="section-break">Review and Export</div>
      <p class="instruction" icon-left>
        <ion-icon name="information-circle"></ion-icon>Review the decisions you
        have made and make revisions before final export
      </p>
      <div style="margin-bottom: 2em">
        <ion-card class="review-box" (click)="pushPage('ReviewPage')">
          <div style="display:flex; ">
            <div class="review-card">
              <span>Review</span>
            </div>
            <img
              class="section-icon _80px"
              src="assets/img/icons/arrows-dual.svg"
            />
            <div class="review-card">
              <span>Improve</span>
            </div>
          </div>
          <div style="display:flex; justify-content:center">
            <img
              class="section-icon _80px"
              src="assets/img/icons/arrow-right.svg"
            />
            <div class="review-card">
              <div>Export</div>
            </div>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
