.quote {
  font-style: italic;
  padding: 5px;
  border: 1px solid #82817c;
  background-color: #f1e4ba6e;
  border-radius: 5px;
}
.info-provided-card {
  width: 100%;
  max-width: 200px;
  border: 1px solid black;
  min-height: 150px;
  padding: 0;
  color: black;
}
.info-card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.info-card-header {
  padding: 5px;
  background-color: lightgray;
  justify-content: space-between;

  font-size: 16px;
}

.edit-button {
  cursor: pointer;
  float: right;
}
