<form style="display: flex; padding:5px">
  <ion-item>
    <ion-input id="textMultipleInput" #textMultipleInput (ionChange)="validateInput()" [(ngModel)]="multipleTextInput"
      [ngModelOptions]="{standalone: true}" type="text" [placeholder]="question.labelMultiple"></ion-input>
  </ion-item>
  <ion-button (click)="addTextMultiple()" type="submit" *ngIf="!editMode" [disabled]="!multipleTextInput">Add</ion-button>
  <ion-button (click)="saveEdits()" type="submit" *ngIf="editMode">Save</ion-button>
</form>
<div *ngFor="let value of multipleTextValues, index as i">
  <div style="display: flex">
    <div class="multiple-list" [attr.data-editing]="editIndex==i? 'editing':''">
      <span style="flex:1">{{value.name}}</span>
      <ion-icon name="create" class="edit-button" (click)="enableEdit(i)" *ngIf="!editMode"></ion-icon>
    </div>
    <ion-button clear (click)="removeTextMultiple(i)" icon-only>
      <ion-icon name="remove-circle" class="multiple-remove-button"></ion-icon>
    </ion-button>
  </div>
</div>