#nodeInfo {
  position: absolute;
  width: 220px;
  top: 0;
  right: 0;
  height: 300px;
  background-color: #d5deea;
  // want to have scroll when needed, but move to right to hide scrollbar

  // on way in decelerate
  transition: 0.25s ease-out;
}
#nodeInfo[data-visible="false"] {
  transform: translateX(100%);
  // linear and slightly faster on way out
  transition: 0.2s;
}

.node-title {
  background: var(--ion-color-primary);
  padding: 5px;
  color: white;
  text-align: center;
}
.node-info-text {
  // extra width but padding right to hide scroll bar on overflow
  width: calc(100% + 22px);
  padding: 5px 27px 5px 5px;
  overflow-y: auto;
  height: 234px;
}

ol {
  padding-left: 20px;
}
li[data-active="true"] {
  font-weight: bold;
}
.info-subsection-labels {
  display: flex;

  border: 1px solid var(--ion-color-primary);
  background-color: white;
}
.info-subsection-labels > button {
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0;
}
.button[data-active="true"] {
  font-weight: bold;
  color: var(--ion-color-primary);
}
.button[data-active="false"] {
  font-weight: bold;
  color: gray;
}

.meta-item {
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
}
.meta-label {
  width: 100px;
}
.meta-value {
  flex: 1;
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
