<div #nodeInfo id="nodeInfo" [attr.data-visible]="activeNode ? 'true' : 'false'">
  <div *ngIf="activeNode">
    <div class="node-title">
      {{activeNode.label}}
    </div>
    <div class="info-subsection-labels">
      <button ion-button clear icon-left [attr.data-active]="infoSection=='info'" (click)="_updateInfoSection('info')">
        <ion-icon name="information-circle"></ion-icon>Info
      </button>
      <!-- <button style="flex:1" ion-button clear icon-left [attr.data-active]="infoSection=='allocation'" (click)="_updateInfoSection('allocation')">
        <ion-icon name="calculator"></ion-icon>Allocation
      </button> -->
    </div>
    <div class="node-info-text">
      <!-- info tab -->
      <div [style.display]="infoSection=='info'?'block':'none'">
        <div *ngFor="let meta of stageMeta">
          <div *ngIf="nodeMeta.stageMeta && [meta.var]" class="meta-item">
            <div class="meta-label">{{meta.label}}</div>
            <div class="meta-value" *ngIf="nodeMeta.stageMeta[meta.var]">{{nodeMeta.stageMeta[meta.var]}}</div>
            <div class="meta-value" *ngIf="!nodeMeta.stageMeta[meta.var]">NA</div>
          </div>
        </div>

      </div>
      <!-- allocation tab -->
      <tree-node-allocation [style.display]="infoSection=='allocation'?'block':'none'">

      </tree-node-allocation>
    </div>
  </div>
</div>